.header {
    color: purple;
    background-color: orange;
}

.subheader {
    color: aqua;
}

.subheader-two {
    color: orange;
}

.subheader-three {
    color: hotpink;
}

img {
    height: auto;
    width: 250px;
}


